body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}

header {
    height: 10%;
}

main {
    height: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#products, #chosen-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20em;
    margin: 10px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

button, #order-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

#buy-btn {
    background-color: seagreen;
}

#remove-btn {
    margin: 10px;
    font-size: 10px;
    background-color: red;
}

#empty-cart-btn {
    width: 50px;
    padding: 7px;
    font-size: 8px;
    background-color: black;
}

#order-btn {
    width: 75%;
    background-color: blue;
}

form {
    width: 20em;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
    display: none;
    text-align: left;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 15px 0;
}

form div:last-child {
    align-items: center;
}

form input {
    align-items: center;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
}

.message {
    margin: 5px;
    display: none;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.check-order {
    width: 75%;
    text-align: center;
    font-size: 15px;
}

#order-btn-message {
    font-style: oblique;
    color: red;
}

#order-text {
    align-self: center;
}

header, footer {
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}